In [3]:
print("welcome to my calculator")

welcome to my calculator

In [4]:
print('this is my calculator')

this is my calculator

In [5]:
print('this is my calculator"
    )

SyntaxError: EOL while scanning string literal (<ipython-input-5-cd638ba0b81d>, line 1)

In [7]:
print("'this is my calculator'")

'this is my calculator'

In [8]:
print(''this is my calculator'')

SyntaxError: invalid syntax (<ipython-input-8-36bae2ebf289>, line 1)

In [9]:
print('"this is my calculator"')

"this is my calculator"

In [10]:
print(""this is my calculator""
    )

SyntaxError: invalid syntax (<ipython-input-10-ad1136af1024>, line 1)

In [11]:
print(''' Hi 'user',"welcome to my calculator" ''')

 Hi 'user',"welcome to my calculator"

In [12]:
# 'Hi all!!!',"Welcome to great learning""!!@@""

In [13]:
print(''''Hi all!!!',"Welcome to great learning""!!@@""''')

'Hi all!!!',"Welcome to great learning""!!@@""

In [14]:
print('''Hi hello,
how are you''')

Hi hello,
how are you

In [15]:
print('Hi hello,')
print("how are you")

Hi hello,
how are you

In [18]:
print('Hi hello,',end='')
print("how are you")

Hi hello,how are you

In [19]:
print('Hi hello,',end='1234')
print("how are you")

Hi hello,1234how are you

In [20]:
print('Hi hello,',end='\n')
print("how are you")

Hi hello,
how are you

In [21]:
print('Hi hello,',end='\n')
    print("how are you")

IndentationError: unexpected indent (<ipython-input-21-ad9ef6cce814>, line 2)

In [22]:
#intendation error occurs when space is given first

In [23]:
print(a)

NameError: name 'a' is not defined

In [24]:
#print function does not know value of 'a'

In [26]:
a=10
print(a)
print("a")

10
a

In [27]:
#any thing which does not have quotes is called variables, any thing inside quotes is string

In [28]:
a=10
#to print "value of a is 10"
print("value of a is ",end="")
print(a)

value of a is 10

In [30]:
#other alternative way to print above
print("value of a is 10","my name is sheik","hello")
#use comma to print multiple double quotes

value of a is 10 my name is sheik hello

In [32]:
a=10
b=20
c=30
print(a,b,c)
#all three values will be printed

10 20 30

In [35]:
print("value of a is",a)
#use comma to print both string and variable simultaneously

value of a is 10

In [39]:
a=10
b=20
c=30
print("value of a",a,"value of b",b,"value of c",c)
#use multiple commas to print multiple strings and variables
#when ever comma is given a space is given Eg. space between a 10
print ('value of a is \n',a)
print ('value \n of a is \n',a)

value of a 10 value of b 20 value of c 30
value of a is
 10
value
 of a is
 10

In [41]:
a=10
a
#without print function value of a is displayed

10

In [42]:
a=10
b=20
a
b
#the output will be 20 because only the last recent value will be printed. if you want to print all the values then go for print command

20

In [52]:
#to print data type use the command print(type)
#integer is common numbers(1,2,3,...), Float is decimal numbers(10.3,7.5), complex number are represented as j instead of i( 3+4j)
a=10
print(type(a))
a=10.3
print(type(a))
a=3+4j
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [47]:
a=10
print(type(a))

<class 'int'>

In [46]:
a=10.3
print(type(a))

<class 'float'>

In [50]:
a=3+4j
print(type(a))

<class 'complex'>

In [55]:
a=10+4j
print(type(a))
#to get real value use a.real, to get imaginary value use a.imag
a.real

<class 'complex'>

10.0

In [56]:
a.imag

4.0

In [59]:
#boolean takes two forms True and False
a=True
print(type(a))
a=False
print(type(a))

<class 'bool'>
<class 'bool'>

In [61]:
#when a is given a string as value the data type is returned as str
a="great"
print(type(a))

<class 'str'>

In [69]:
#exercise
c=-10-6j
#output needs to print real part and imaginary part of complex number
r=c.real
i=c.imag
#to print real and imaginary type individually assign variables for real part and imaginary part
print(type(c.real))
print(type(c.imag))
#python does implicit conversion, it converts integer values in complex number as float
c.real

<class 'float'>
<class 'float'>

-10.0

In [71]:
#OPERATORS

ARITHMETIC OPERATORS
1.ADDITION(+)
2.SUBTRACTION(-)
3.MULTIPLICATION(*)
4.DIVISION(/)
5.MODULUS(%)
6.SPECIAL DIVISION(//)
7.POWER(**)

In [72]:
a=10
b=20
c=a+b
print(c)

30

In [73]:
a=10
b=20
c=a-b
print(c)

-10

In [74]:
a=10
b=20
c=a*b
print(c)

200

In [75]:
a=10
b=20
c=a/b
print(c)

0.5

In [78]:
#python uses BODMAS rule to solve arithmetic
a=10
b=20
c=15
d=25
e=d*(a*b+c)+c
print(e)

5390

In [80]:
a=5
b=10
c=12
d=2
e=b*(2*a-c)+(b+2*d)
print(e)

-6

In [81]:
#MODULUS AND SPECIAL DIVISION
#MODULUS OPERATOR GIVES REMAINDER
#SPECIAL DIVISION GIVES QUOTIENT
#Eg. A%b=remainder, a//b=quotient
a=5
b=2
print(a/b)
print(a%b)
print(a//b)

2.5
1
2

In [83]:
#power operator
4**2

16

In [84]:
4**0

1

RELATIONAL OPERATORS

DIFFERENT RELATIONAL OPERATORS<br>
> GREATER <br>
< LESSER<br>
>= GREATER THAN OR =<br>
<= LESSER THAN OR =<br>
!= NOT EQUAL TO<br>
== EQUAL TO<br>
#OUTPUT OF RELATIONAL OPERATOR WILL BE BOOLEAN

In [86]:
a=5
b=7
print(a>b)
#output of relational operator is boolean

False

In [87]:
#single equal to (=) will assign values to variable
#double equal to (==) will check whether it is true of false
a=3
a==3

True

LOGICAL OPERATORS<br>
1)AND - if all the conditions are true it will return true<br>
2)OR  - if any one condition is true, it will return true<br>
3)NOT - True --> False, False -->True<br>

In [90]:
#AND operator
a=10
b=5
c=7
(a>b)and(a>c)

True

In [92]:
#OR operator
a=10
b=5
c=7
(a>b)or(b>c)
#a>b is true and b>c is false

True

In [94]:
True or False

True

In [98]:
#NOT operator changes true to false and false to true
#for NOT operator only one input is enough
not True

False

In [96]:
not False

True

In [97]:
not a<b

True

In [99]:
fn=5
sn=7
tn=4

In [105]:
(fn>sn) and (fn>tn)
#first number is bigger or not

False

In [106]:
sn>fn and sn>tn
#second number is bigger or not

True

In [107]:
tn>fn and tn>sn
#third number is bigger or not

False

In [111]:
#ASSIGNMENT OPERATORS
#1)= it assigns values to variables
#in python we can assign values together eg. a.b=2,3  a=b=c=10
#there is no need for variable declaration in python, we can asssign values directly
#2)+= assigns new value
#eg. a+=3 => let a=10 then a+=3 means a=a+3 that is a=10+3 so final value of a=13
a=10
a+=3
print (a)

13

In [113]:
#3)-= operator
a-=3
print (a)

10

In [114]:
#4)*= operator
a*=3
print (a)

30

In [115]:
#5)/= operator
a/=3
print(a)

10.0